@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base{
    .projects{
        text-underline-offset: 12px;
    }
    .projects:hover.text-underline-color-black {
        text-decoration-color: rgb(59 130 246);
      }
     
      .link:hover .project1-info,.link:hover .project-only{
        display: block;
      }

      .img{
        width: 500px;
      }

      .img2{
        width: 500px;
        height: 520px;
      }


      .img3{
        width: 500px;
        height: 510px;
      }
      
     .project1-info{
      width: 500px;
      height: 510px;
      top: -231px;
     }

     .fa-twitter{
      color: #00acee;
     }
     .fa-linkedin{
      color: #0072b1;
     }
     .fa-discord{
      color: #4266e6;
     }
      @media (max-width:600px) {
        .img,.img2,.img3{
          width: 350px;
        }
        .img2,.img3{
          height: 350px;
        }
        .project1-info,.project-only{
          width: 350px;
          height: 350px;
         
        }
        .project1-info{
          top: -155px;
        }
        
      }
      
     

}